<footer id="footer" class="footer-1">
  <div class="main-footer widgets-dark typo-light">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4 d-flex justify-content-center">
          <div class="widget subscribe no-box">
            <h5 class="widget-title">Streamingfy S.L.<span></span></h5>
            <p>
              Disfruta de las mejores pel&iacute;culas y series de las plataformas m&aacute;s populares en todo el mundo. Para saber
              nuestras tarifas, haz click <a href="#">aqu&iacute;</a>, y si quieres saber nuestros T&eacute;rminos y condiciones, haz click
              <a href="#">aqu&iacute;</a>.
            </p>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4 d-flex justify-content-center">
          <div class="widget no-box">
            <h5 class="widget-title">S&iacute;guenos en Redes<span></span></h5>
            <!--                       <a href="#"> <i class="fa fa-facebook"> </i> </a>
 -->
            <a href="#"> <img class="img" src="../../../content/img/facebook.png" /></a>

            <a href="#"><img class="img" src="../../../content/img/twiiter.png" /></a>
            <a href="#"> <img class="img" src="../../../content/img/instagram.png" /></a>
            <!--               <a href="#"> <i class="fa fa-twitter"> </i> </a>
                      <a href="#"> <i class="fa fa-youtube"> </i> </a> -->
          </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-4 d-flex justify-content-center">
          <div class="widget no-box">
            <h5 class="widget-title">Contacta con nosotros<span></span></h5>
            <p>Suscr&iacute;bete a nuestra Newsletter.</p>
            <div class="emailfield">
              <form>
                <input type="text" name="email" value="Email" />
                <input name="uri" type="hidden" value="arabiantheme" />
                <input name="loc" type="hidden" value="en_US" />
                <input class="submitbutton ripplelink" type="submit" value="Subscribe" />
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="footer-copyright">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <p>Copyright Design Steamingfy © 2022. All rights reserved.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
