<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-pelicula-heading" data-cy="PeliculaCreateUpdateHeading" jhiTranslate="streamingfyApp.pelicula.home.createOrEditLabel">
        Create or edit a Pelicula
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="streamingfyApp.pelicula.titulo" for="field_titulo">Titulo</label>
          <input type="text" class="form-control" name="titulo" id="field_titulo" data-cy="titulo" formControlName="titulo" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="streamingfyApp.pelicula.genero" for="field_genero">Genero</label>
          <input type="text" class="form-control" name="genero" id="field_genero" data-cy="genero" formControlName="genero" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="streamingfyApp.pelicula.descripcion" for="field_descripcion">Descripcion</label>
          <input
            type="text"
            class="form-control"
            name="descripcion"
            id="field_descripcion"
            data-cy="descripcion"
            formControlName="descripcion"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="streamingfyApp.pelicula.calificacion" for="field_calificacion">Calificacion</label>
          <input
            type="number"
            class="form-control"
            name="calificacion"
            id="field_calificacion"
            data-cy="calificacion"
            formControlName="calificacion"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="streamingfyApp.pelicula.estreno" for="field_estreno">Estreno</label>
          <div class="d-flex">
            <input
              id="field_estreno"
              data-cy="estreno"
              type="datetime-local"
              class="form-control"
              name="estreno"
              formControlName="estreno"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="streamingfyApp.pelicula.imagen" for="field_imagen">Imagen</label>
          <input type="text" class="form-control" name="imagen" id="field_imagen" data-cy="imagen" formControlName="imagen" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="streamingfyApp.pelicula.url" for="field_url">Url</label>
          <input type="text" class="form-control" name="url" id="field_url" data-cy="url" formControlName="url" />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
