/* ==========================================================================
Main page styles
========================================================================== */

/* .hipster {
  display: inline-block;
  width: 347px;
  height: 497px;
  background: url('../../content/images/jhipster_family_member_3.svg') no-repeat center top;
  background-size: contain;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query 
@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (-moz-min-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
  .hipster {
    background: url('../../content/images/jhipster_family_member_3.svg') no-repeat center top;
    background-size: contain;
  }
}
 */

.container-disney {
  margin: 0 auto;
  padding: 0 30px;
  /*       background: linear-gradient( rgba(27,25,39) 10%,rgba(59,165,93) 100%);

 */
}
.main {
  margin: 0 auto;
  padding: 0 20px;
}

@media (min-width: 1300px) {
  .disney-rows {
    max-width: 1600px;
    margin: 0 auto;
  }
}
.disney-rows {
  margin: 0 auto;
  padding: 0 20px;
}

.grid {
  display: grid;
  grid-row-gap: 15px;
  padding-bottom: 10px;
}
.card-disney {
  width: 100%;
  position: relative;
  cursor: pointer;
  border-radius: 10px;
  background: linear-gradient(to bottom, #3a3c4a, #242632);
  box-shadow: rgba(0, 0, 0, 0.69) 0px 26px 30px -10px, rgba(0, 0, 0, 0.73) 0px 16px 10px -10px;
}

.item-border {
  position: relative;
  border-radius: 10px;
  transition: transform 250ms ease-in-out, border 250ms ease-in-out, box-shadow 250ms ease-in-out;
}
.item-image {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  z-index: 1;
}
.item-image.hover-image {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition-duration: 300ms;
  visibility: hidden;
}
.card-disney:hover .item-border {
  box-shadow: rgba(0, 0, 0, 0.8) 0px 40px 58px -16px, rgba(0, 0, 0, 0.72) 0px 30px 22px -10px;
  transform: scale(1.05);
  border: 4px solid rgba(249, 249, 249, 0.8);
}

.card-disney:hover .item-image.hover-image {
  position: absolute;
  top: 0;
  z-index: -1;
  opacity: 1;
  visibility: visible;
}

@media screen and (min-width: 300px) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 15px;
  }
  .films {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 15px;
  }
  .item-border {
    border: 2px solid rgba(249, 249, 249, 0.1);
  }
}
@media screen and (min-width: 768px) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 15px;
  }
  .item-border {
    border: 4px solid rgba(249, 249, 249, 0.1);
  }
}
@media screen and (min-width: 1024px) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 15px;
  }
}
.slick-list {
  overflow: inherit;
}
.main {
  margin: 0 auto;
  padding: 0 20px;
}
@media (min-width: 1300px) {
  .main {
    max-width: 1600px;
  }
}
.container-general {
  /*     background: linear-gradient( rgba(27,25,39) 10%,rgba(59,165,93) 100%);
 */
  padding-bottom: 2%;
  overflow: hidden;
}
@media (min-width: 1300px) {
  .movies-rows {
    max-width: 1600px;
    margin: 0 auto;
  }
}
.movies-rows {
  margin: 0 auto;
  padding: 0 20px;
}
.slider-films {
  margin-bottom: 2%;
}
.list-title {
  color: white;
  margin-top: 15px;
  margin-bottom: 15px;
  position: relative;
}
.slider h3 {
  border-radius: 5px;
  position: relative;
  text-align: center;
}
.slider div img {
  border-radius: 5px;
  width: 100%;
  height: auto;
}
.card {
  border-radius: 5px;
  display: inline-block;
  position: relative;
  box-shadow: rgb(0 0 0) 0px 16px 10px -10px;
  transition-duration: 300ms;
  transition-timing-function: ease-out;
  height: 155px;
  width: 280px;
}

.img {
  size-adjust: auto;
  position: relative;
}
.card::before {
  border-radius: 5px;
  border: 4px solid rgba(255, 255, 255, 0);
  inset: 0px;
  content: '';
  position: absolute;
  transition: border 300ms ease-out 0s;
  z-index: 1;
  /*  height: 140px;
    width: 280px; */
}
.card:hover::before {
  border: 4px solid rgba(249, 249, 249, 0.8);
  height: 155px;
  width: 280px;
}
.card:hover,
.card img:hover {
  transform: scale(1.05, 1.05) translateZ(0px) translate3d(0px, 0px, 0px);
  transition-duration: 300ms;
  transition-property: transform, box-shadow;
  transition-timing-function: ease-out;
  box-shadow: rgb(0 0 0 / 90%) 0px 30px 20px -10px;
}
.taman {
  height: 500px;
  width: 660px;
}

.responsive div {
  margin-right: 10px;
}
@media (min-width: 300px) {
  .list-title {
    font-size: 15px;
    font-weight: 500;
  }
}
@media (min-width: 768px) {
  .list-title {
    font-size: 20px;
    font-weight: 500;
  }
}
/*@import url(//db.onlinewebfonts.com/c/d1bfb85795ca505281f9cee67b285c9a?family=Avenir+LT+Pro);
   @font-face {
    font-family: "Avenir LT Pro";
    src: url("//db.onlinewebfonts.com/t/d1bfb85795ca505281f9cee67b285c9a.eot");
    src: url("//db.onlinewebfonts.com/t/d1bfb85795ca505281f9cee67b285c9a.eot?#iefix")
        format("embedded-opentype"),
      url("//db.onlinewebfonts.com/t/d1bfb85795ca505281f9cee67b285c9a.woff2")
        format("woff2"),
      url("//db.onlinewebfonts.com/t/d1bfb85795ca505281f9cee67b285c9a.woff")
        format("woff"),
      url("//db.onlinewebfonts.com/t/d1bfb85795ca505281f9cee67b285c9a.ttf")
        format("truetype"),
      url("//db.onlinewebfonts.com/t/d1bfb85795ca505281f9cee67b285c9a.svg#Avenir LT Pro")
        format("svg");
  } */
/* Arrows */
.responsive .slick-prev {
  left: -200px;
  z-index: 1;
  padding: 60px 200px 60px 20px;
  border: 1px solid red;
  opacity: 0;
}
.responsive .slick-next {
  right: -200px;
  z-index: 1;
  padding: 60px 200px 60px 20px;
  border: 1px solid red;
  opacity: 0;
}

/* Slick Center */
.cl img {
  width: 100%;
  height: auto;
  border-radius: 4px;
  box-shadow: rgb(0 0 0) 0px 16px 10px -10px;
}

.cl {
  padding: 5px;
  position: relative;
}
@media (min-width: 768px) {
  .cl {
    padding: 10px;
  }
}
/* Dots Slider */
.slick-dots li button:before {
  color: #969eab;
  left: 0;
  top: 0;
  opacity: 1;
  content: '•';
  width: 20px;
  height: 20px;
  font-size: 10px;
  line-height: 20px;
  position: absolute;
  text-align: center;
}
.slick-dots li.slick-active button:before {
  color: #f9f9f9;
}
.slick-dots {
  display: block;
  list-style: none;
  position: absolute;
  text-align: center;
  bottom: 0px;
  margin: 0;
  padding: 20px;
  right: 8px;
  width: 100%;
}

.slick-slide[aria-hidden='true'] .card:before {
  content: '';
  background: linear-gradient(#1b1d24, #1e1f2a) 0 0 / cover;
  width: 100%;
  display: block;
  position: absolute;
  opacity: 0.5;
  border-radius: 4px;
  z-index: 2;
}
